#Name1{
    color: black;
  }
#Name2{
    color: red;
  }
#Name3{
    color: blue;
  }
#Name4{
    color: red;
  }
#Name5{
    color: green;
  }
 #Name1{
    color: black;
  }
body{
    background-color: grey;
}